<!DOCTYPE html>
<html>
<head>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower" rel="stylesheet">
</head>
<body>
        <section class="logo">            
            <p> <img src="../../../../assets/img/groceries.png" alt="logo"> 
                <span class="welcome">Welcome to </span>
                <span class="foodtrack">Food Track!</span></p>
        </section>
       <section class="buttonContainer">
            <a routerLink="/home/register"><span class="register">REGISTER</span></a>
            <a routerLink="/home"><span class="login">LOG IN</span></a>
       </section>
</body>
</html>
