<nz-layout style="height: 100vh" class="layout">
  <nz-header>
    <div class="logo">
       <a routerLink="/welcome"><img src="assets/img/logo.png" alt="logo"></a>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
    </ul>
  </nz-header>
  <nz-content style="padding:0 50px;" class="main">
    <div style="padding: 24px; min-height: 280px;" class="content">
      <h1>Register Successfull</h1>
      <p>You have been registered succesfully. A mail with your activation code has been sent to you, please activate your account before you attempt to log in.</p>
      <button nz-button [nzType]="'primary'" routerLink="/home">OK!</button>
      
      
    </div>
  </nz-content>
  <nz-footer style="text-align: center;">Daniel Romero Michelena ©2019</nz-footer>
</nz-layout>




